In [1]:
import pandas as pd

INPUT_FILE = "../../data/merge/ALL_MERGED.csv"
OUTPUT_FILE = "../../data/merge/ALL_MERGED_TIME_CLEAN.csv"

df = pd.read_csv(INPUT_FILE)
print("Rows:", len(df))
df.head()

Rows: 19105

,Price_Billion,Price_Per_m2,Area_m2,District,Ward,Bedrooms,Is_MatTien,Width_m,Floors,Is Hem,Post Time,Toilets,Post_Time
0,7.99,28.95,276.0,Hóc Môn,Xuân Thới Sơn,1.0,1,14.0,1.0,0,26/12/2025,1.0,12/26/2025
1,7.89,82.19,96.0,Quận 12,Hiệp Thành,1.0,1,5.0,1.0,0,26/12/2025,1.0,12/26/2025
2,20.00,60.06,333.0,Quận 12,Tân Thới Nhất,2.0,0,14.5,2.0,1,26/12/2025,2.0,12/26/2025
3,58.00,25.47,2277.0,Hóc Môn,Đông Thạnh,2.0,1,23.5,1.0,0,26/12/2025,2.0,12/26/2025
4,7.48,98.42,76.0,Gò Vấp,1,4.0,1,4.0,4.0,0,25/12/2025,4.0,12/25/2025

In [2]:
df.columns

Index(['Price_Billion', 'Price_Per_m2', 'Area_m2', 'District', 'Ward',
       'Bedrooms', 'Is_MatTien', 'Width_m', 'Floors', 'Is Hem', 'Post Time',
       'Toilets', 'Post_Time'],
      dtype='object')

In [3]:
if 'Post_Time' in df.columns:
    df = df.drop(columns=['Post_Time'])
    print("Đã xóa cột Post_Time (bị thiếu)")

Đã xóa cột Post_Time (bị thiếu)

In [4]:
df['Post Time'] = pd.to_datetime(
    df['Post Time'],
    format='%d/%m/%Y',
    errors='coerce'
)

df['Post Time'].dtype

dtype('<M8[ns]')

In [5]:
df = df.rename(columns={'Post Time': 'Post_Time'})
df.columns

Index(['Price_Billion', 'Price_Per_m2', 'Area_m2', 'District', 'Ward',
       'Bedrooms', 'Is_MatTien', 'Width_m', 'Floors', 'Is Hem', 'Post_Time',
       'Toilets'],
      dtype='object')

In [6]:
df['Post_Time'].isna().sum(), len(df)

(np.int64(1552), 19105)

In [7]:
(df[df['Post_Time'].isna()].shape[0], df.shape[0])

(1552, 19105)