Kiểm tra tổng thể trường và số lượng data

In [3]:
import pandas as pd
import numpy as np
import re
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler


def inspect_csv(df):
    print("===== CSV OVERVIEW =====")
    print(f"Rows    : {df.shape[0]}")
    print(f"Columns : {df.shape[1]}")
    print("\n--- Data types ---")
    print(df.dtypes)
    print("\n--- Memory usage ---")
    print(round(df.memory_usage(deep=True).sum() / 1024 ** 2, 2), "MB")


df_raw = pd.read_csv("../../data/merge/Dai/Dai.csv")
inspect_csv(df_raw)

===== CSV OVERVIEW =====
Rows    : 16533
Columns : 12

--- Data types ---
Price_Billion    float64
Price_Per_m2     float64
Area_m2          float64
District          object
Ward              object
Bedrooms         float64
Is_MatTien         int64
Width_m          float64
Floors           float64
Is Hem             int64
Post Time         object
Toilets          float64
dtype: object

--- Memory usage ---
4.38 MB

Hàm kiểm tra và thông báo ô thiếu dữ liệu theo tung cột

In [4]:
def report_missing_values(df):
    print("===== MISSING VALUE REPORT =====")
    missing = df.isna().sum()
    percent = (missing / len(df)) * 100
    report = pd.DataFrame({
        "Missing_Count": missing,
        "Percent_Missing (%)": percent.round(2)
    }).sort_values(by="Missing_Count", ascending=False)
    print(report)
    return report

In [5]:
report_missing_values(df_raw)

===== MISSING VALUE REPORT =====
               Missing_Count  Percent_Missing (%)
Price_Billion              0                  0.0
Price_Per_m2               0                  0.0
Area_m2                    0                  0.0
District                   0                  0.0
Ward                       0                  0.0
Bedrooms                   0                  0.0
Is_MatTien                 0                  0.0
Width_m                    0                  0.0
Floors                     0                  0.0
Is Hem                     0                  0.0
Post Time                  0                  0.0
Toilets                    0                  0.0

               Missing_Count  Percent_Missing (%)
Price_Billion              0                  0.0
Price_Per_m2               0                  0.0
Area_m2                    0                  0.0
District                   0                  0.0
Ward                       0                  0.0
Bedrooms                   0                  0.0
Is_MatTien                 0                  0.0
Width_m                    0                  0.0
Floors                     0                  0.0
Is Hem                     0                  0.0
Post Time                  0                  0.0
Toilets                    0                  0.0

In [8]:
mask = df_raw['Post Time'].isna()

mask.sum(), len(df_raw)

(np.int64(0), 16533)

Kiểm tra datatype date time

In [9]:
df_raw['Post Time'].dtype

dtype('O')

In [10]:
df_raw['Post Time'].value_counts().head(10)

Post Time
10/12/2025    167
24/12/2025    147
17/12/2025    140
07/05/2025     50
12/01/2025     47
13/06/2025     46
13/07/2025     45
14/06/2025     45
03/12/2025     44
31/08/2025     44
Name: count, dtype: int64

Parse post time ra datatype datetime

In [11]:
df_raw['Post_Time'] = pd.to_datetime(
    df_raw['Post Time'],
    format='%d/%m/%Y',
    errors='coerce'
)

In [12]:
df_raw['Post_Time'].dtype

dtype('<M8[ns]')

In [13]:
df_raw['Post_Time'].isna().sum(), len(df_raw)

(np.int64(0), 16533)

Hoàn thành data Dai.csv

In [15]:
df_raw.to_csv(
    "../../data/merge/Dai_done.csv",
    index=False,
    encoding="utf-8-sig"
)